---
import AstroIcon from "./icons/AstroIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import WebIcon from "./icons/WebIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E34F26] text-white",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572B6] text-white",
    icon: CssIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JavascriptIcon,
  },
};

const PROJECTS = [
  {
    title: "My Portfolio - Ruben Diaz",
    description:
      "This project is my personal portfolio, where I show my projects and my skills. It is built with Astro, TypeScript and Tailwind CSS.",
    link: "https://ruubendiazz.me",
    github: "https://github.com/rubendiazzz/porfolio.astro.dev",
    image: "/projects/Porfolio_astro.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Vape Ecommerce Shop",
    description:
      "This project is a static website for a vape shop. It is built with Html, Css and JavaScript.",
    github: "https://github.com/rubendiazzz/vape-shop-website",
    link: "https://rubendiazzz.github.io/vape-shop-website/",
    image: "/projects/vape_shop.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2 flex justify-center md:justify-start lg:justify-start">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty flex text-center md:text-left lg:text-left">
          {description}
        </p>
        <ul class="flex gap-x-2 flex-row mb-2 justify-center md:justify-start lg:justify-start">
          {tags?.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video-16/9 hover:scale-95 transition-all duration-300"
          src={image}
          alt={`Screenshot of the project ${image}`}
        />
        <footer class="flex gap-x-4 items-end justify-center md:justify-start lg:justify-start mt-4 ">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Look at the source code
            </LinkButton>
          )}
          <LinkButton href={link}>
            <WebIcon class="size-6" />
            Navigate to the website
          </LinkButton>
        </footer>
      </article>
    ))
  }
</div>
