---
const PROJECTS = [
  {
    title: "My Portfolio - Ruben Diaz",
    description:
      "This project is my personal portfolio, where I show my projects and my skills. It is built with Astro, TypeScript and Tailwind CSS.",
    link: "ruubendiazz.me",
    github: "https://github.com/rubendiazzz/porfolio.astro.dev",
    image: "/projects/Porfolio_astro.webp",
    tags: ["Astro", "TypeScript", "Tailwind CSS"],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img src={image} alt={`Screenshot of project ${image}`} />
    </article>
  ))
}
